* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #FDF5B2A8;
    color: #333;
    line-height: 1.6;
}

main {
    max-width: 1400px;   
    margin: 0 auto;   
    padding: 15px;
}




.color-nav{
    background-color: #D2B48C;
    color: #4E342E;
}

.btn-style{
    border-color:  #4E342E;
}

.footer-style{
    background-color: #D2B48C;
}

.tam-img{
    height: 360px;
    width: 280px;
}

.card-space{
    margin-top: 30px;
}

h2{
    margin-bottom: 20px;
}

.sobre {
  background-color: #D2B48C; 
  margin-top: 30px;
  padding: 50px 0;
}



.sobre h1 {
  color: #4E342E;   
  font-weight: bold;
  margin-bottom: 20px;
}


.sobre p {
  color: #5C4033;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.img-sobre {
  width: 100%;     
  max-width: 500px;  
  height: auto;      
}

.circle-color{
    background-color:#D2B48C;
}
.card-custom {
    border: 2px solid #D2B48C; 
  }