body{
    background-color: #FDF5B2A8;
}

.color-nav{
    background-color: #D2B48C;
    color: #4E342E;
}

.btn-style{
    border-color:  #4E342E;
}

.footer-style{
    background-color: #D2B48C;
}

.tam-img{
    height: 360px;
    width: 280px;
}

.card-space{
    margin-top: 30px;
}

h2{
    margin-bottom: 20px;
}